.full-page-nav #nav-bar {
  background-color: #ace8df;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80px;
  color: #e8fdff;
  background-color: inherit;
  padding: 0 2.0em;
}

#nav-bar .header:after {
  content: "";
  display: table;
  clear: both;
}

#nav-bar .compose {
  border-radius: 5px;
  border: 2px solid;
  border-color: whitesmoke;
  order: 2;
  cursor: pointer;
  font-family: 'Nixie One', cursive;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 75%;
  font-weight: bold;
  color: navy;
  background-color: #ace8df;
}

#nav-bar .compose-clicked {
  background-color: whitesmoke;
  border: 2px solid;
  font-family: 'Nixie One', cursive;
  font-weight: bold;
  cursor: pointer;
  border-color: whitesmoke;
}

#nav-bar .header {
  float: left;
  order: 1;
  padding: 0 10px;
  font-size: 300%;
  font-family: 'Nixie One', cursive;
  font-weight: bold;
  line-height: 150%;
  color: #004a83;
}

#nav-bar .header::first-letter {
  letter-spacing: 1px;
}

#nav-bar .logo {
  order: 1;
  height: 80px;
  width: 80px;
  float: left;
  transform: scaleX(-1);
}
