.all-tweets {
  padding: 32px;
}

.tweet-header:after,
.tweet-footer:after {
  content: "";
  display: table;
  clear: both;
}

.tweet {
  position: relative;
  border-radius: 5px;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  background-color: #f2d8cf;
  margin-bottom: 10px;
  align-items: center;
  z-index: inherit;

}

.tweet header {
  background-color: #eee;
  display: flex;
  align-items: flex-start;
  padding: 5px;
}

img {
  display: inline-flex;
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.user {
  flex-grow: 1;
  padding-left: 10px;
}

.handle {
  display: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: #f88379;
  font-size: 100%;
  line-height: 50%;
  padding-right: 10px;
}

.tweet-content {
  border-top: 1px solid #ccc;
  background-color: #f2d8cf;
  padding: 10px;
}

/* Wrapping URLs and Long single words*/

.tweet-detail {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  font-size: 80%;
  background-color: #f2d8cf;
}

.time-ago {
  padding-left: 5px;
}

.icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  visibility: hidden;
}

.tweet:hover .icons {
  visibility: visible;
}
